*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
}

/* Main Page */
body{
	background: #f4f4f4;
}

header{
	background-color: #4D4E58;
	padding-top: 30px;
	border-bottom: 4px solid orange;
	min-height: 70px;
}

.container{
	width: 80%;
	margin: auto;
}

#logo{
	float: left;
	font-size: 3vw;
	font-weight: bolder;
	text-shadow: 1px 1px 1px gray;
}

#logo .highlight, header .current a{
	color: orange;
}

#logo a{
	color: white;
}

header ul li a{
	color: white;
	text-transform: uppercase;
	font-size: 1.6vw;
}

header ul li{
	display: inline;
	padding: 0 30px;
}

header nav{
	float: right;
	margin-top: 8px;
}

header ul li a:hover{
	color: orange;
}

#showcase{
	background-image: url(images/showcase.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 100px 0px;
	color: white;
	text-align: center;
}

#showcase h1{
	font-size: 4.5vw;
	text-shadow: 1.5px 1.5px 1px gray;
}

#showcase p{
	font-size: 2vw;
	padding-top: 35px;
	font-style: italic;
}

#newsletter{
	background: #4D4E58;
	height: 100px;
	overflow: hidden;
}

#newsletter h3{
	color: white;
	font-weight: bolder;
	font-size: 25px;
	padding: 30px 0px 0px 30px;
	float: left;
}

#newsletter form{
	float: right;
	padding-top: 30px;

}

#newsletter input[type="email"]{
	width: 175px;
	height: 15px;
	padding: 4px;
}

.newsletter-button{
	background: teal;
	color: white;
	border: none;
	border-radius: 25%;
	padding: 10px;
}

#details{	
	margin-top: 20px;
}

#details .box img{	
	width: 33.3%;
}

#details .box{
	width: 33%;
	float: left;
	font-size: 15px;
	text-align: center;
	margin: 0px auto;
	margin-bottom: 15px;
}
#details .box h3{
	margin: 10px 0px;
}

#details .box p{
	padding: 0px 5px;
}

#details .box1 p{
	border-left: 2px solid black;
	border-right: 2px solid black;
}

#details .box3 p{
	border-left: 2px solid black;
	border-right: 2px solid black;
}

/* About Page */
#main-col{
	margin: 15px 0px;
}

#main-col h2{
	margin-bottom: 10px;
}

#main #main-col{
	float:left;
	width: 60%;
}

#sidebar{
	float: right;
	width: 35%;
}

#sidebar .sidebar-box{
	background-color: #4D4E58;
	color: white;
	margin: 20px 0px;
	padding: 20px;

}

#sidebar .sidebar-box h3{
	margin-bottom: 10px;
	color: orange;
}

/* Service Page */

#service-section h2{
	margin: 15px 0px;
}
#service-section ul{
	float: left;
	width: 65%;
	margin-bottom: 10px;
}

#service-section ul li{
	padding: 15px;
	background-color: lightgray;
	margin-bottom: 10px;
}
#side-quote h3{
	margin-bottom: 20px;
	text-align: center;
}

#side-quote form{
	float: right;
	width: 25%;
	padding: 20px;
	background-color: lightgray;
	color: black;

}
#side-quote button{
	background-color: orange;
	display: block;
	width: 50px;
	padding: 5px;
	margin: auto;
}

#side-quote form .quote-name input[type="text"], .quote-email input[type="email"]{
	width: 20vw;
	height: 20px;
}

#side-quote form .quote-name, .quote-email, .quote-text{
	margin-bottom: 15px;
	text-align: center;
}
#side-quote form .quote-text textarea[type="textarea"]{
	width: 20vw;
	height: 60px;
	resize: none;
}

footer{
	text-align: center;
	color: white;
	padding: 50px;
	margin-top: 25px;
	background: orange;
	clear: both;
}

@media(max-width: 768px){

/* Home Page*/

	header{
		padding-top: 25px;
		min-height: 80px;
	}

	.container{
		width: 100%;
	}

	#logo{
		float: none;
		margin-bottom: 10px;
		font-size: 35px;
		text-align: center;
	}

	header ul li a{
		font-size: 15px;
	}

	header ul{
		text-align: center;
	}

	header nav{
		float: none;
	}

	#showcase h1{
		font-size: 35px;
	}

	#showcase p{
		font-size: 20px;
	}

	#newsletter{
		background: #4D4E58;
		height: 130px;
		border-bottom: 4px solid orange;
		text-align: center;
	}

	#newsletter h3{
		float: none;
		padding: 30px 0px 0px 0px;
	}

	#newsletter form{
		float: none;
		padding-top: 15px;
	}

	#details .box{
		width: 80%;
		float: none;
		font-size: 20px;
		text-align: center;
	}

	#details .box1 p{
		border-left: 0px solid black;
		border-right: 0px solid black;
		border-bottom: 2px solid black;
		padding-bottom: 9px;
	}

	#details .box3 p{
		border-left: 0px solid black;
		border-right: 0px solid black;
	}
	#details .box3{
		border-top: 2px solid black;
	}

/* About Page */

	#main-col{
		margin: 15px 0px;
		text-align: center;
	}

	#main #main-col{
		float: none;
		width: 100%;
	}

	#main-col p{
		margin: auto;
		width: 80%;
	}

	#main-col .textbox{
		background-color: lightgray;
		margin: auto;
		margin-bottom: 10px;
		padding: 15px 0px;
		width: 80%;
	}

	#sidebar{
		float: none;
		width: 80%;
		margin: auto;
		text-align: center;
	}

/* Service Page */

	#service-section {
		text-align: center;
	}
	#service-section ul{
		float: none;
		width: 80%;
		margin: auto;
	}

	#side-quote h3{
		margin-bottom: 20px;
		text-align: center;
	}

	#side-quote form{
		float: none;
		width: 80%;
		margin: auto;
	}

	#side-quote button{
		width: 100px;
	}

	#side-quote form .quote-name input[type="text"], .quote-email input[type="email"]{
		width: 50vw;
	}

	#side-quote form .quote-text textarea[type="textarea"]{
		width: 50vw;
	}
}










